<!DOCTYPE html>
<html>
    <head>
        <title>About</title>
        <link rel="icon" href="/img/weather.png">
        <link rel="stylesheet" href="./css/style.css">
        <script src="./js/app.js"></script>
    </head>
    <body>
        <div class="main-content">            
            {{>header}}
            <img class="prof-img" src="./img/simple.jpg">
            <h5>Create by : {{name}}</h5>
        </div>
        {{>footer}}
    </body>
</html>